body
{
	background-color: beige;
	font-family: "Arial";
	font-size: 14px;
	line-height: 2.0em;
	margin-top: 100px;
	width: 300px;
}

h1
{
	margin-left: 10px;
	color: red;
}

p
{
	font-size: 16px;
}

li
{
	font-size: 16px;
	line-height: 1.2em;
}

.row
{
	font-size: 20px;
}

.list
{
	display: none;
}

.show
{
	display: none;
}

.hide:target + .show
{
	display: inline;
}

.hide:target
{
	display: none;
}

.hide:target ~ .list
{
	display: inline;
}

@media print
{
	.hide, .show
	{
		display: none;
	}
}
